@model Beer
<h1>Create new product</h1>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Id</label>
    <input asp-for="Id" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Price</label>
    <input asp-for="Price" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Brand</label>
    <input asp-for="Brand" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Category</label>
    <input asp-for="Category" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Country of origin</label>
    <input asp-for="Countryoforigin" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Package</label>
    <input asp-for="Package" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Image</label>
    <input asp-for="ImageUrl" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
